apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: jenkins
spec:
  selector:
    app: jenkins
  type: LoadBalancer
  ports:
    - name: web
      port: 8070
      targetPort: 8080
    - name: agent
      port: 50000
      targetPort: 50000