# Values.yaml corregido para Jenkins Chart v5.x
jenkins:
  controller:
    componentName: "jenkins-controller"
    # CAMBIO IMPORTANTE: Estructura nueva de imagen
    image:
      tag: "2.541.1"
    
    # Política de descarga (suele ir aquí o a nivel de controller, dejémoslo aquí por seguridad)
    imagePullPolicy: "Always"

    # Seguridad
    runAsUser: 1000
    fsGroup: 1000
    
    adminUser: "admin"
    adminPassword: "admin"

    # Red
    serviceType: "ClusterIP"
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hostName: "jenkins.jrodrodriguez.es"
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/ssl-redirect: "false"

    # Plugins
    installPlugins:
      - kubernetes:4025.v42ff33f324e5
      - workflow-aggregator:596.v8c21c963d92d
      - git:5.2.1
      - github:1.37.3.1
      - credentials-binding:644.v95b_6533d9d2f
      - configuration-as-code:1775.v810dc350b_ee5
      - dark-theme:635.v7ad9361ccd05

    sidecars:
      configAutoReload:
        enabled: false

  # Almacenamiento
  persistence:
    enabled: true
    existingClaim: "jenkins-pvc"
    storageClass: "microk8s-hostpath"

  # Service Account
  serviceAccount:
    create: true
    name: "jenkins"