# Values.yaml corregido para Jenkins en Kubernetes
renderTemplated: true

controller:
  componentName: "jenkins-controller"
  image: "jenkins/jenkins"
  tag: "2.541.1-jdk21" # Usando la versión que ya descargó tu clúster
  
  # Seguridad: Corrigiendo el error de permisos del PDF
  runAsUser: 1000
  fsGroup: 1000
  
  # Credenciales de Admin (Usadas solo en el primer arranque)
  adminUser: "admin"
  adminPassword: "admin"

  # Almacenamiento Persistente
  persistence:
    enabled: true
    size: "8Gi"
    storageClass: "microk8s-hostpath"

  # Red
  serviceType: "ClusterIP"
  
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hostName: "jenkins.jrodrodriguez.es"
    annotations:
      kubernetes.io/ingress.class: nginx
      # Añade esto si usas SSL con cert-manager más adelante
      # cert-manager.io/cluster-issuer: letsencrypt-prod 

  # Plugins necesarios para tu proyecto backend-mc-pnpm
  installPlugins:
    - kubernetes:4025.v42ff33f324e5
    - workflow-aggregator:596.v8c21c963d92d
    - git:5.2.1
    - github:1.37.3.1
    - credentials-binding:644.v95b_6533d9d2f
    - configuration-as-code:1775.v810dc350b_ee5
    - dark-theme:635.v7ad9361ccd05 # Opcional, pero recomendada para la vista

  # Configuración de Sidecars para recarga automática
  sidecars:
    configAutoReload:
      enabled: false
      image:
        repository: kiwigrid/k8s-sidecar
        tag: "1.27.4"

# Configuración de la cuenta de servicio (RBAC)
serviceAccount:
  create: true
  name: jenkins