services:
  # Servicio principal (Puerta de enlace)
  ms-client-gateway:
    profiles: ["client-gateway"] # Etiqueta para encender solo este servicio si quieres
    build:
      context: ${CONTEXTO} # Carpeta raíz del proyecto
      dockerfile: ./apps/${MICROSERVICIO}/deploy/Dockerfile # La "receta" para instalarlo
      args: # Variables usadas solo al construir la imagen
        - CONTEXT=${CONTEXTO}
        - MICROSERVICIO=${MICROSERVICIO}
    container_name: backend-mc-client-gateway # Nombre "humano" del contenedor
    ports:
      - "${PORT}:3000" # Conexión: Tu Puerto PC -> Puerto Interno del contenedor
    env_file:
      - .env # Carga las contraseñas y configuración del archivo .env
    environment:
      # --- Configuración interna ---
      NODE_ENV: production # Modo producción (más rápido/seguro)
      
      # --- Conexión con otros servicios ---
      # Le dice dónde encontrar al servicio de usuarios
      MS_USERS_HOST: backend-mc-users
      MS_USERS_PORT: 3001

      # Le dice dónde encontrar al servicio de productos
      MS_PRODUCTS_HOST: backend-mc-products
      MS_PRODUCTS_PORT: 3002

    networks:
      - backend-mc-pnpm-network # Se une a la red compartida para "ver" a los demás

networks:
  backend-mc-pnpm-network:
    external: true # La red ya existe (no la crea de nuevo)