services:
  postgresUsuarios:
    image: postgres:15-alpine
    container_name: backend-mc-pnpm
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    networks:
      - backend-mc-pnpm-network
  # Base de datos para Users
  ms-usuarios:
    build:
      context: ${CONTEXTO}
      dockerfile: ./apps/${MICROSERVICIO}/deploy/Dockerfile
      args:
        - CONTEXT=${CONTEXTO}
        - MICROSERVICIO=${MICROSERVICIO}
    container_name: backend-mc-users
    # restart: unless-stopped
    ports:
      - "${PORT}:3001"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    networks:
      - backend-mc-pnpm-network


volumes:
  postgres_data:

networks:
  backend-mc-pnpm-network:
    external: true # para la red